
.main
{

    .navbar
    {
        background-color:transparent;
        input
        {
            background-color: #eaeaea;
            border-radius: 30px;
            padding: 13px 30px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.1rem;
    letter-spacing: 0.2rem
    ;

            width: 300px;
            border: none;
            outline: 0;
        } 
    
    } 
}
.market
{


    .categories
    {
        display: flex;
        padding: 20px 100px;
        gap: 50px;
        
        a
        {
padding: 10px 25px;
background-color: #eee;
border-radius: 20px;
color: #000;
&.active
{
    background-color: #000;
    color: #fff;
}
 &:hover
 {
    background-color: #ddd;
 }
        }
    }
}