.profilsidebar
{
    
    position: fixed;
    height: 100%;
    border-right: 1Px solid #ddd;

    .avatar
    {
        text-align: center;

        width: 100%;
        padding: 20px;
        img
        {
            min-width: 256px;
            border-radius: 50%;
            min-height: 256px;
            border: 1px solid #111;
    
        }
    }
}
